DISCORD_TOKEN=
DISCORD_GUILD_ID=
TORRENT_DOWNLOADER_URL=http://127.0.0.1:8000
TORRENT_DOWNLOADER_API_KEY=
TORRENT_SAVE_PATH=/media/downloads
SELECT_MAX_RESULTS=25
TORRENT_RESULTS_PER_RESOLUTION=5
LOG_LEVEL=INFO
